.all-projects-container {
	display: flex;
	flex-direction: column; /* Projects will be displayed vertically */
	padding: 20px; /* Optional: Add padding to space out projects from the edges */
	padding-top: 35px;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px;
}

.all-projects-project {
	width: calc(100% / 2.3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}
